h1 {
	font-size: 80px;
	margin-bottom: 30px;
}

.backanime {
	position:absolute;
	z-index:-10;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* 幅3等分 */
    grid-template-rows: 800px; 
    grid-gap: 10px; /* 隙間10px */
    margin-bottom: 20px;
}

.card {
  width: 80ch;
  height: 50ch;
  background: grey;
  border-radius: 5px;
  background-image: url(mypicture.jpg);
  background-size: cover;
  background-position: center center;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  will-change: transform;
  border: 15px solid white;
}

.card:hover {
  box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
}

.link-list {
	grid-column: 2/4;
}

.btn-sf-like {
	border-radius: 10px;
	width:250px;
	position: relative;
	display: block;
	font-weight: bold;
	color: #FFF;
	text-shadow: 0 0 5px rgba(255, 255, 255, 0.73);
	padding: 0.3em 0.5em;
	background: #d40035;
	border: solid 3px #fff;
	margin:100px 100px 100px 100px;
	transition: .4s;
}

.btn-sf-like:hover {
  text-shadow: -6px 0px 15px rgba(255, 255, 240, 0.83),
               6px 0px 15px rgba(255, 255, 240, 0.83);
}
.link-list-0 {
	margin:10px 10px 30px 160px;
}
.link-list-1 {
	margin:10px 200px 10px 160px;
}

.transitions-item {
	overflow: hidden;
	width: 100%;
	color: white;
	display: flex;
	position:center;
	justify-content: flex-start;
	align-items: center;
	font-size: 10em;
	font-weight: 800;
	text-transform: uppercase;
	will-change: transform, opacity, height;
	white-space: nowrap;
	cursor: pointer;
	line-height: 150px;
}
